{{> header}}
<main style="min-height: 500px;">
{{> menuAbm}}
<section class="container d-flex justify-content-center align-items-center" style="height: 350px !important;">
    <h5>Seleccionar una opción del menú izquierdo</h5>
</section>
</main>
{{> footer}}