<!--{{> header}}-->
<!--<main>-->
<!--    {{> menuAbm}}-->
<!--    <section class="my-3">-->
<!--        <h5>Buscar Ediciones</h5>-->
<!--        <div class="form-floating my-3">-->
<!--            <select class="form-select" name="" id=""-->
<!--                    aria-label="Floating label select example">-->
<!--                <option selected disabled>Edicion</option>-->
<!--                    &lt;!&ndash;                {{#secciones}}&ndash;&gt;-->
<!--                &lt;!&ndash;                    <option value="{{id_seccion}}">{{nombre}}</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                {{/secciones}}&ndash;&gt;-->
<!--            </select>-->
<!--            <label for="">Seleccionar Edicion</label>-->
<!--        </div>-->
<!--    </section>-->
<!--</main>-->
<!--{{> footer}}-->