<section class="my-3 border-end pe-3">
    <button class="btn btn-info btn-radius" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
        Menu administrador
    </button>
    <div style="width: auto;" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <span></span>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <h5 class="offcanvas-title px-5 pb-3" id="offcanvasNavbarLabel">Menú administrador</h5>
        <div class="offcanvas-body">
            <h5 class="border-bottom">Altas</h5>
            <ul class="navbar navbar-nav px-3 mb-2">
                <li class="nav-item d-flex justify-content-left" style="width: 100% !important;">
                    <a class="nav-link " href="/infonet/abm/vistaAltaArticulos">Articulos</a>
                </li>
                <li class="nav-item d-flex justify-content-left" style="width: 100% !important;">
                    <a class="nav-link"
                       href="/infonet/abm/vistaAltaSecciones">Secciones</a>
                </li>
                <li class="nav-item d-flex justify-content-left" style="width: 100% !important;">
                    <a class="nav-link"
                       href="/infonet/abm/vistaAltaProductos">Productos</a>
                </li>
                <li class="nav-item d-flex justify-content-left" style="width: 100% !important;">
                    <a class="nav-link"
                       href="/infonet/abm/vistaAltaEdiciones">Ediciones</a>
                </li>
            </ul>

                {{#admin}}
                    <h5 class="mt-4 border-bottom">Listas</h5>
                    <ul class="navbar navbar-nav px-3">
                        <li class="nav-item d-flex justify-content-left" style="width: 100% !important;">
                            <a class="nav-link" href="/infonet/abm/vistaListaArticulos">Articulos</a>
                        </li>
                        <li class="nav-item d-flex justify-content-left" style="width: 100% !important;">
                            <a class="nav-link" href="/infonet/abm/vistaListaSecciones">Secciones</a>
                        </li>
                        <li class="nav-item d-flex justify-content-left" style="width: 100% !important;">
                            <a class="nav-link" href="/infonet/abm/vistaListaProductos">Productos</a>
                        </li>
                        <!--                <li class="nav-item d-flex justify-content-left" style="width: 100% !important;">-->
                        <!--                    <a class="nav-link" href="/infonet/abm/vistaListaEdiciones">Ediciones</a>-->
                        <!--                </li>-->
                    </ul>
                {{/admin}}

        </div>
    </div>
</section>