<div class="m-3 d-flex">
    <input
            class="form-control me-2 btn-radius"
            type="search"
            placeholder="Search"
            aria-label="Search"
    />
    <button class="btn btn-outline-success btn-radius" type="submit">
        Search
    </button>
</div>