{{> header}}
<section class="my-4">
    {{#articulos}}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">{{titulo}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="/infonet/articulo/verArticulo/id={{id_articulo}}" class="btn btn-primary btn-radius">Ver
                articulo</a>
            </div>
        </div>
    {{/articulos}}
</section>
{{> footer}}