{{> header}}


<section>
    <div class="container card mt-5 mb-5">
        <h5 class="card-header">Pago Exitoso!</h5>
        <div class="card-body">
            <p class="card-text">Se ha realizado con exito la transaccion.</p>
            <a href="/infonet/producto" class="btn btn-primary">Volver a productos</a>
        </div>
    </div>
</section>

{{> footer}}