{{> header}}
<!--<nav class="topnav" onload="cargaFechas()">-->
<section class="my-3">
    <form id="formDate" action="/infonet/historial" method="get" class="my-3">
        <div class="d-flex gap-3 align-items-center">
            <div class="form-floating">
                <input type="date" class="form-control" id="filtroFechaD" name="desde" value={{fechaDesde}}>
                <label for="desde">Desde</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" id="hasta" name="hasta" value={{fechaHasta}}>
                <label for="hasta">Hasta</label>
            </div>
            <div>
                <button type="submit" form="formDate" class="btn btn-danger btn-radius">Buscar</button>
            </div>
        </div>
    </form>
    <div class="d-flex flex-column gap-2">
        {{#ediciones}}
            <div class="card">
                <div class="card-header">
                    Fecha: {{fecha}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">Numero edicion -  {{id_edicion}}</p>
                    <p class="card-text">Nombre edicion -  {{evento}}</p>
                </div>
            </div>
        {{/ediciones}}
    </div>
</section>
<div class="container d-flex justify-content-center gap-2">
    <a class="btn btn-primary btn-radius" href="/infonet/pdf?fechas={{fechaDesde}}?{{fechaHasta}}">Abrir PDF</a>
    <a class="btn btn-success btn-radius" href="/infonet/pdf?descarga={{fechaDesde}}?{{fechaHasta}}">Descargar PDF</a>
</div>
{{> footer}}
<!--<script>-->
<!--    function cargaFechas(){-->
<!--        document.getElementById('datePicker').value = new Date().toDateInputValue();-->
<!--    }-->
<!--</script>-->
