{{> header}}
<div class="container-fluid">
    <div class="d-grid gap-2">
        <a class="btn btn-primary" href="usuario/altaUsuario" role="button">ALTA USUARIO</a>
        <a class="btn btn-primary"  href="usuario/listaUsuarios" role="button">MODIFICAR USUARIO</a>
    </div>
</div>

{{> footer}}