{{> header}}

<section>
    <div class="container card mt-5 mb-5">
        <h5 class="card-header">Su cuenta ha sido creada con exito!</h5>
        <div class="card-body">
            <p class="card-text">Por favor, chequee su casilla de mail
                y acceda al link que le hemos enviado para poder activar su cuenta.</p>
            <a href="/infonet/" class="btn btn-primary">Volver al Home</a>
        </div>
    </div>
</section>



{{> footer}}
